.heroSection {
  height: 1024px;
  align-self: stretch;
  background: radial-gradient(
    143.62% 134.34% at 64.17% -11.87%,
    #4338ca 0%,
    #111113 70.06%
  );

  height: 100vh;
  padding-top: 80px; /* navbar-এর উচ্চতার সমান */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heroSectionName h1 {
  color: #ffffff;
  text-align: center;
  font-family: "Advent Pro";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 108px */
  text-transform: uppercase;
  align-self: stretch;

  
}

.heroSectionDescription p {
  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 48px */
}

.heroSectionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  gap: 8px;
  width: 240px;
  height: 64px;
  background: #4338ca;
  border-radius: 8px;
}
