.navBar {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  position: absolute; /* এটি উপরে ভেসে থাকবে */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px;
  color: #fff;
}

.navBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  align-self: stretch;
  list-style: none;
}

/* more option for navBar */

.navLinks {
  list-style: none;
  display: flex;
  gap: 24px;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.moreDropdown {
  color: white;
  cursor: pointer;
  font-weight: 500;
}

.navLinks li a.active {
  font-weight: 600;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contactButton {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  width: 160px;
  height: 40px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: var(--radius-rounded-md, 4px);
  color: #000000;
  margin-left: 0px;
}
